/* src/Home.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #fff;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.home-content {
  margin-bottom: 30px;
}

h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.view-button {
  margin: 0 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.view-button:hover {
  background-color: #45a049;
}

.home-images {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.medicine-image {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin: 0 10px;
}

.home-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.dummy-button {
  margin: 0 10px; /* Add margin to create space between buttons */
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #4caf50; /* Green button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.dummy-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.why-generic-section {
  padding: 50px;
  background-color: #f5f5f5;
  text-align: center;
}

.why-generic-section h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.why-generic-section p {
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.search-input {
  width: 70%; /* Adjust width as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #45a049;
}