/* src/MedicineList.css */
.medicine-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.medicine-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.medicine-card {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.medicine-card:hover {
  transform: scale(1.05);
}

.medicine-image {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
}
